<!-- Main Navbar -->

 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">The Cocktail DB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="hamburgerClick()" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [ngClass] = "{'show' : hamClick}" >
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 d-flex justify-content-evenly align-items-center flex-row">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/home'">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="randomCocktail()">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-shuffle"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.624 9.624 0 0 0 7.556 8a9.624 9.624 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.595 10.595 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.624 9.624 0 0 0 6.444 8a9.624 9.624 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5z" />
              <path
                d="M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192zm0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192z" />
            </svg>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/order'">Carrel</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="isChecked" [(ngModel)]="typeOfChoice"
            name="typeOfChoice" id="inlineRadio1" value="searchToName">
          <label class="form-check-label" for="inlineRadio1">Name</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="isChecked" [(ngModel)]="typeOfChoice"
            name="typeOfChoice" id="inlineRadio2" value="searchToIngredient">
          <label class="form-check-label" for="inlineRadio2">Ingredients</label>
        </div>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" [disabled]="isChecked === false"
          [(ngModel)]="inputSearch" name="inputSearch">
        <button class="btn btn-outline-success my-2 my-sm-0 d-flex justify-content-end" type="submit" (click)="search()">Search</button>
      </form>
    </div>
  </nav>

  <nav aria-label="Page navigation example">
    <div class="pagination d-inline-flex flex-wrap">
      <a class="page-link" *ngFor="let letter of letters" (click)="searchDrinksByLetter(letter)">{{letter}}</a>

    </div>
  </nav>

  <h1>Top Drinks</h1>
  <div class="row">
    <span style="font-size: 18px;">Risultati trovati: {{drinks.length}}</span>
  </div>
  <div class="row" *ngIf="drinks.length === 0">
    <span style="font-size: 30px; font-weight: bold;">Nessun risultato trovato</span>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 my-2" *ngFor="let drink of drinks">
      <div class="card">
        <img [src]="drink.strDrinkThumb" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ drink.strDrink}}</h5>
          <div class="btn btn-primary" [routerLink]="'/drink/' + drink.idDrink" role="button">Dettaglio</div>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{ drink.strCategory }}</small>
        </div>
      </div>
    </div>
  </div>
