<main class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">The CocktailDB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="hamburgerClick()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass] = "{'show' : hamClick}">
            <ul class="navbar-nav mr-auto d-flex justify-content-evenly align-items-center flex-row">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="'/home'">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="">Carrel</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" name="searchNameIng" [(ngModel)]="searchNameIng"
                    placeholder="Search" aria-label="Search"> 
                <button class="btn btn-outline-success my-2 my-sm-0" (click)="searchByName()"
                    type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container-fluid col-12 d-flex flex-wrap flex-row">

        <div class="col-md-4 col-xl-4 col-lg-4">
            <ul class="list-group fleex-wrap">
                <div class="row flex-wrap">
                    <li class="list-group-item border-0 col-md-6 col-xl-6 col-lg-6 my-2" *ngFor="let drink of drinks">
                        <div class="card">
                            <img role="button" (click)="clickToOrder(drink)" [src]="drink.strDrinkThumb"
                                class="card-img-top">
                                <div class="card-body" [ngClass]="{'bg-white': !drink.selected, 'bg-primary': drink.selected}">
                                <h5 class="card-title">{{ drink.strDrink}}</h5>
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
        </div>

        <section class="h-100 col-sm-12 col-md-8 col-xl-8 col-lg-8"
            [ngClass]="{'d-none': toggle === false, 'd-flex': toggle===true}">
            <div class="container h-100 py-3">
                <div class="row d-flex justify-content-center align-items-center h-100 w-100">
                    <div class="col-10" *ngIf="drinksIntoCart.length">
                        <div class="card rounded-3 mb-4">
                            <app-cart-item [drinkItem]="drink" *ngFor="let drink of drinksIntoCart"
                                (addCartEvent)="removeItem($event)"></app-cart-item>
                            <div class="card-body p-4">
                                <button type="button" class="btn btn-warning btn-block btn-lg"
                                    (click)="warningCart()">Proceed to Pay</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>